# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master/secret.json
---
apiVersion: v1
kind: Secret
metadata:
  name: iotstream
stringData:
  MQTT_HOST: string
  MQTT_USERNAME: string
  MQTT_PASSWORD: string
